input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    --appearance:textfield; /* Firefox */
}

.heighto{
    height: 27.3rem;
}

#cradcar{
    background-image: url(../public/RS3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem;
    width: 100%;
    border-radius: 2rem;

}

.bgTransParent{
    background-color: rgba(0, 0, 0, 0.5);

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.bg-primary-purple{
    background-color: #45195A;
}

.bg-puprle-secondary{
    background-color: rgb(142, 43, 190);
}

#Khayer{
    /* add popping font from web */
    font-family: 'Montserrat', sans-serif;

}

.colorPrimary{
    color: #45195A;
}

.widtha{
    width: 70%;
}

.secondaryColor{
    color: #611F81;
}

.mlefto{
    margin-left: 37rem;
}

.divProfil{
    border: 1px solid #611F81;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem;
    width: 60%;
}

.profilPic{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn_Estimer{
    background-color: #611F81;
    color: #D9D9D9;
    font-size: 2rem;
    border-radius: 20px;
}

#imgAnonce{
    width: 34rem/* 384px */;
}

.voirProfil{
    color: #611F81;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1.5px solid #611F81;
    border-radius: 20px;
    padding: 0.5rem;
    
}

.active_line{
    background: #fff;
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.2rem;
    border-radius: 50%;
}

.item_navbar:hover .active_line{
    background: #611F81;
}


.nice_line{
    background: #611F81;
    height: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.titleInsc{
    /* add a font family from web */
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}


.Hero_Pic{
    animation: Hero_Pic 1.5s;
}

@keyframes Hero_Pic {
    /*make it arrive from right to it's place*/
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }

}

.pHero{
    animation: TitleFont 1.5s;
    opacity: 0;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.buttonSlide{
    animation: buttonSlide 1.5s;
}

@keyframes buttonSlide {
    /*make it arrive from right to it's place*/
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(0%);
    }

}

.TitleFont{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: TitleFont 1.5s;
}

@keyframes TitleFont {
    /*make it arrive from right to it's place*/
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }

}

.FadeIn{
    animation: FadeIn 1.5s;
}

@keyframes FadeIn {
    /*fade in*/
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

.raduis{
    border-radius: 20px;
}

.profilPic2{
    border: 1px solid #fff;
    background-color: #c3bdbd;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.familyyy{
    font-family: 'Montserrat', sans-serif;
}

.buttonStart{
    background-color: rgb(142, 43, 190);
    font-size: 1.2rem;
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttonStart:hover{
    background-color: #611F81;
}

.btnConnect{
    background-color: #D9D9D9;
    color: #611F81;
    font-size: 1.2rem;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.btnConnect:hover{
    background-color: #611F81;
    color: #D9D9D9;
}

.bg-lenear-purple{
    background: linear-gradient(180deg, #45195A 0%, #942DC7 100%);
}

.itemsbar:hover{
    cursor: pointer;
    color: #942DC7;
}

#chercheBtn{
    background-color: #611F81;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 9px;
}

#btnPublier{
    background-color: #fff;
    color: #611F81;
    font-size: 1.2rem;
    border-radius: 9px;
    padding: 1rem;
    width: 40%;

}

#venderDiv{
    background-image: url(../public/wallpaper_car.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 80%;

}

.inputImage{
    width: 40%;
    height: 10%;
}

.inputform{
    margin-top: 1.2rem;
    width: 60%;
    border: 1.5px solid #611F81;
    border-radius: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.inputform:hover{
    border: 1.5px solid #942DC7;
}

#btnSubmitinsc{
    background-color: #611F81;
    color: #D9D9D9;
    margin-top: 1.2rem;
    width: 60%;
    font-size: 1.2rem;
    border-radius: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#btnSubmitinsc:hover{
    background-color: #c3bdbd;
    color: #611F81;
}

.samlltexto{
    font-size: 0.8rem;
    margin-top: 1.2rem;
}

.s-samlltexto{
    font-size: 0.6rem;
    margin-top: 0.7rem;
}

.shadowFormulair{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 5rem;
}